.com-datepick{
    ul{
        list-style: none;
        padding: 0;
        margin: 0;
    }
	.inside{
		color: #007AFF;
		vertical-align: middle;
	}
	.datepick-month{
		span{
			display: inline-block;
		}
	}
	.date-pick{
		position: fixed;
		top:0;
		left: 0;
		width: 100%;
		z-index: 10000;
    .timeline{
        display: flex;
        flex-direction: column;
        word-break: break-all;
    }
	}
	.m-month-weekend{
		background: #F9F9F9;
	}
	.m-list-5{
		margin: 0;
	}
	.m-list-4{
		position: relative;
		box-shadow: none;
	}
	.m-days{
		padding-bottom: 0;
		li{
			height: 1rem;
			line-height: 1rem;
			span{
				line-height: .5rem;
			}
		}
	}
	.m-months{
		padding: 0;
    }

  .fw-normal {
    font-weight: normal !important;
  }
  .tac {
    text-align: center;
  }
  .tal {
    text-align: left;
  }
  .tar {
    text-align: right;
  }
  .oh {
    overflow: hidden;
  }
  .ib {
    display: inline-block;
  }
  .fl {
    float: left;
  }
  .fr {
    float: right;
  }
  .show {
    display: block !important;
  }
  .hide {
    display: none !important;
  }
  .mgt-0 {
    margin-top: 0 !important;
  }
  .mgb-100 {
    margin-bottom: 1rem;
  }
  .pdt-45 {
    padding-top: .9rem !important;
  }
  .pdt-123 {
    padding-top: 2.46rem;
  }
  .pdt-89 {
    padding-top: 1.78rem;
  }
  .pdt-267 {
    padding-top: 2.67rem;
    position: relative;
    box-sizing: border-box;
  }
  .fxd-block {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: #f0f0f0;
    z-index: 9999;
  }
  /* common end*/
  .m-nav {
    height: 2rem;
    line-height: 2rem;
    font-size: 1rem;
    padding: 0;
  }
  .m-nav > li {
    float: left;
    overflow: hidden;
    height: 100%;
    width: 50%;
    color: #232323;
    text-align: center;
  }
  .m-nav > li.right,
  .m-nav > li.down {
    color: #007aff;
  }
  .m-nav > li.date {
    color: #007aff;
  }
  .m-nav > li.per3 {
    width: 20%;
    color: #696969;
    visibility: hidden;
  }
  .m-nav > li.per3.show {
    visibility: visible;
  }
  .m-nav > li.per3.deny {
    visibility: visible;
    color: #CCCCCC;
  }

  .m-nav > li.per3:last-of-type:before {
    display: none;
  }
  .m-nav > li.per3:nth-of-type(2) {
    color: #007AFF;
    width: 60%;
    visibility: visible;
  }
  .m-nav > li.per1 {
    width: 100%;
    color: #007AFF;
  }

  .m-list-4 {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: .9rem;
    background-color: white;
    color: #007aff;
    text-align: center;
    box-shadow: 0 0 .16rem #ccc;
    margin: 0;
    padding: 0;
  }
  .m-list-4 p {
    width: 3.31rem;
    height: .9rem;
    line-height: .9rem;
    border: 1px solid #007aff;
    border-radius: .08rem;
  }
  .m-list-4 li {
    position: relative;
    width: 50%;
    height: 3rem;
  }
  .m-list-4 li p {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .m-list-4 li.btn-sure {
    float: right;
  }
  .m-list-4 li.btn-sure p {
    right: .3rem;
    background-color: #007aff;
    color: white;
  }
  .m-list-4 li.btn-cancel {
    float: left;
  }
  .m-list-4 li.btn-cancel p {
    left: .3rem;
  }

  .m-list-5 {
    display: flex;
    display: -webkit-flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    padding: 0 .2rem;
    background-color: white;
    height: 3rem;
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .m-list-5 > li {
    float: none;
    width: auto;
    height: auto;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    padding: .14rem 0;
    color: #696969;
    text-align: center;
  }
  .m-list-5 > li.active {
    border-bottom-left-radius: .28rem;
    border-bottom-right-radius: .28rem;
    border-top-left-radius: .28rem;
    border-top-right-radius: .28rem;
    background-color: #007aff;
    box-shadow: .04rem .04rem .06rem #ccc;
    color: white;
  }
  .m-month-weekend .month {
    background-color: white;
    height: 3rem;
    line-height: 3rem;
    font-size: 1rem;
    color: #007aff;
    text-align: center;
  }
  .m-month-weekend .month .arrow-left {
    float: left;
    height: 3rem;
    width: 3rem;
  }

  .m-month-weekend .month .arrow-right {
    float: right;
    height: 3rem;
    width: 3rem;
  }
  .m-month-weekend .weekend {
    display: flex;
    display: -webkit-flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    height: 2.5rem;
    font-size: 1rem;
    color: #969696;
  }
  .m-month-weekend .weekend li {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    text-align: center;
  }
  .m-days {
    display: flex;
    display: -webkit-flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-bottom: 2.4rem;
    padding-left: 0;
    margin: 0;
    background-color: white;
  }
  .m-days > li {
    display: flex;
    display: -webkit-flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    overflow: hidden;
    width: calc(14.285714285714286%);
    height: 3rem;
    text-align: center;
    font-size: 0.9rem;
    color: #ccc;
  }
  .m-days > li.active {
    color: #232323;
  }
  .m-days > li span {
    display: inline-block;
  }
  .m-days > li .content-bg {
    width: 100%;
    height: 1.5rem;
  }
  .m-days > li .content-bg.active {
    background-color: #e5f1ff;
  }
  .m-days > li .content-bg.active-l {
    position: relative;
    width: 1.5rem;
    border-bottom-left-radius: .26rem;
    border-top-left-radius: .26rem;
  }
  .m-days > li .content-bg.active-l:after {
    content: "";
    display: block;
    position: absolute;
    left: 1.5rem;
    top: 0;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #e5f1ff;
  }
  .m-days > li .content-bg.active-r {
    position: relative;
    width: 1.5rem;
    border-bottom-right-radius: .26rem;
    border-top-right-radius: .26rem;
  }
  .m-days > li .content-bg.active-r:after {
    content: "";
    display: block;
    position: absolute;
    right: 1.5rem;
    top: 0;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #e5f1ff;
  }
  .m-days > li .content {
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    border-radius: .26rem;
  }
  .m-days > li .content.active {
    background-color: #007aff;
    color: white;
    box-shadow: .04rem .04rem .06rem #ccc;
  }
  .m-days > li .content.today:after {
    content: "";
    display: block;
    position: absolute;
    left: .2rem;
    bottom: -.24rem;
    width: .12rem;
    height: .12rem;
    border-radius: 50%;
    background-color: #ff801a;
  }
  .m-months {
    padding-bottom: 1.5rem;
  }
  .m-months .tt {
    height: 2rem;
    line-height: 2rem;
    background-color: #f0f0f0;
    color: #969696;
    padding-left: 2rem;
    font-size: 0.9rem;
    text-align: left;
    margin: 0;
  }
  .m-months .months {
    display: flex;
    display: -webkit-flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    background-color: white;
  }
  .m-months .months li {
    width: 25%;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    font-size: 0.9rem;
    color: #232323;
  }
  .m-months .months li.disabled {
    color: #ccc;
  }
  .m-months .months li span {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    border-radius: 2rem;
  }
  .m-months .months li span.active {
    background-color: #007aff;
    color: white;
    box-shadow: .04rem .04rem .06rem #ccc;
  }
  .btn-group{
    padding: 0.5rem 1rem;
    background: #fff;
  }
  
}