.neo-list {
    background: #fff;
    box-sizing: border-box;
}

.neo-list .item, .item{
    height: 45px;
    line-height: 45px;
    padding: 0 0.5rem;
    text-align: left;
    box-sizing: border-box;
    position: relative;
    display: flex
}
.neo-list .item i{
    position: absolute;
    padding: 0!important;
    right: 0;
}

.neo-list .item .leftContent{
    display: inline-block;
    text-align: left;
}
.neo-list .item .rightContent{
    display: inline-block;
    position: relative;
    padding-right: 0.7rem;
    text-align: right;
}

.neo-list .item:last-child{
    border-bottom:0;
}