.neo-step{
    .relative{
        position: relative;
    }
    .text-align-center{ 
        text-align: center
    }
    .step-number{
        display: inline-block;
        width: 1.5rem;
        height: 1.5rem;
        line-height: 1.5rem;
        border: 1px solid;
        border-color: #999;
        border-radius: 2rem;
        position: relative;
        background: #fff;
        z-index: 10;
    }
    .step-line{
        height: 1px;
        width: 100%;
        position: absolute;
        background: #999;
        top: 0.7rem;
        z-index: 6;
        transform: translateX(50%);
    }
    .step-title{
        line-height: 2rem;
        font-size: 90%;
    }
    .end-line{
        transform: translateX(-50%);
    }
    .active{
        color: #fd5023;
        .step-number{
            border: 1px solid #fd5023;
        }
        .step-line{
            background: #fd5023;
        }
    }
}