.clock{
    width: 80%;
    position: relative;
    left: 50%;
    height: 40vh;
    transform: translateX(-50%);
    z-index: 1;
    background-size: 100%;
    background-repeat: no-repeat;
}
.donut-svg {
    position: absolute;
    transform: translateX(-50%);
    left: 49%;
    padding: 0.4rem;
    z-index: 10;
    font-size: 0.3rem;
    top: 0;
}
.score-info{
  width: 100%;
  text-align: center;
  font-size: 2rem;
  background: #fff;
  z-index: 1000;
}
.score-info .score{
    font-size: 2rem;
    color: #54AEFF;
}
