@font-face {
  font-family: 'icomoon';
  src:  url('./fonts/icomoon.eot?3rwsbo');
  src:  url('./fonts/icomoon.eot?3rwsbo#iefix') format('embedded-opentype'),
    url('./fonts/icomoon.ttf?3rwsbo') format('truetype'),
    url('./fonts/icomoon.woff?3rwsbo') format('woff'),
    url('./fonts/icomoon.svg?3rwsbo#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-height .path1:before {
  content: "\e945";
  color: rgb(244, 201, 89);
}
.icon-height .path2:before {
  content: "\e946";
  margin-left: -1em;
  color: rgb(84, 59, 42);
}
.icon-eat .path1:before {
  content: "\e91b";
  color: rgb(255, 255, 255);
}
.icon-eat .path2:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(250, 173, 183);
}
.icon-eat .path3:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(250, 218, 23);
}
.icon-eat .path4:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(163, 214, 255);
}
.icon-eat .path5:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(189, 120, 0);
}
.icon-outside .path1:before {
  content: "\e920";
  color: rgb(255, 255, 255);
}
.icon-outside .path2:before {
  content: "\e921";
  margin-left: -1em;
  color: rgb(163, 214, 255);
}
.icon-outside .path3:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(250, 218, 23);
}
.icon-outside .path4:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(189, 120, 0);
}
.icon-close .path1:before {
  content: "\e924";
  color: rgb(255, 255, 255);
}
.icon-close .path2:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(250, 218, 23);
}
.icon-close .path3:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(189, 120, 0);
}
.icon-temperature .path1:before {
  content: "\e927";
  color: rgb(215, 255, 252);
}
.icon-temperature .path2:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(151, 234, 228);
}
.icon-temperature .path3:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(219, 71, 120);
}
.icon-temperature .path4:before {
  content: "\e92a";
  margin-left: -1em;
  color: rgb(20, 66, 141);
}
.icon-temperature .path5:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(20, 66, 141);
}
.icon-temperature .path6:before {
  content: "\e92c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-weight .path1:before {
  content: "\e92d";
  color: rgb(255, 255, 255);
}
.icon-weight .path2:before {
  content: "\e92e";
  margin-left: -1em;
  color: rgb(135, 189, 255);
}
.icon-weight .path3:before {
  content: "\e92f";
  margin-left: -1em;
  color: rgb(203, 225, 255);
}
.icon-weight .path4:before {
  content: "\e930";
  margin-left: -1em;
  color: rgb(118, 178, 255);
}
.icon-weight .path5:before {
  content: "\e931";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-weight .path6:before {
  content: "\e932";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-weight .path7:before {
  content: "\e933";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-weight .path8:before {
  content: "\e934";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-weight .path9:before {
  content: "\e935";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-cha .path1:before {
  content: "\e936";
  color: rgb(255, 255, 255);
}
.icon-cha .path2:before {
  content: "\e937";
  margin-left: -1em;
  color: rgb(250, 173, 183);
}
.icon-cha .path3:before {
  content: "\e938";
  margin-left: -1em;
  color: rgb(163, 214, 255);
}
.icon-cha .path4:before {
  content: "\e939";
  margin-left: -1em;
  color: rgb(189, 120, 0);
}
.icon-in .path1:before {
  content: "\e93a";
  color: rgb(255, 255, 255);
}
.icon-in .path2:before {
  content: "\e93b";
  margin-left: -1em;
  color: rgb(250, 173, 183);
}
.icon-in .path3:before {
  content: "\e93c";
  margin-left: -1em;
  color: rgb(189, 120, 0);
}
.icon-work .path1:before {
  content: "\e93d";
  color: rgb(255, 255, 255);
}
.icon-work .path2:before {
  content: "\e93e";
  margin-left: -1em;
  color: rgb(250, 218, 23);
}
.icon-work .path3:before {
  content: "\e93f";
  margin-left: -1em;
  color: rgb(250, 173, 183);
}
.icon-work .path4:before {
  content: "\e940";
  margin-left: -1em;
  color: rgb(191, 123, 0);
}
.icon-out .path1:before {
  content: "\e941";
  color: rgb(163, 214, 255);
}
.icon-out .path2:before {
  content: "\e942";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-out .path3:before {
  content: "\e943";
  margin-left: -1em;
  color: rgb(244, 211, 18);
}
.icon-out .path4:before {
  content: "\e944";
  margin-left: -1em;
  color: rgb(189, 120, 0);
}
.icon-bed .path1:before {
  content: "\e900";
  color: rgb(255, 255, 255);
}
.icon-bed .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: rgb(250, 173, 183);
}
.icon-bed .path3:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(163, 214, 255);
}
.icon-bed .path4:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(250, 218, 23);
}
.icon-bed .path5:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(189, 120, 0);
}
.icon-food .path1:before {
  content: "\e905";
  color: rgb(255, 255, 255);
}
.icon-food .path2:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(163, 214, 255);
}
.icon-food .path3:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(250, 173, 183);
}
.icon-food .path4:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(201, 246, 65);
}
.icon-food .path5:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(250, 218, 23);
}
.icon-food .path6:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(189, 120, 0);
}
.icon-play .path1:before {
  content: "\e90b";
  color: rgb(163, 214, 255);
}
.icon-play .path2:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(250, 173, 183);
}
.icon-play .path3:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-play .path4:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(250, 218, 23);
}
.icon-play .path5:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(189, 120, 0);
}
.icon-feed .path1:before {
  content: "\e910";
  color: rgb(250, 173, 183);
}
.icon-feed .path2:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-feed .path3:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(163, 214, 255);
}
.icon-feed .path4:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(189, 120, 0);
}
.icon-boot .path1:before {
  content: "\e914";
  color: rgb(255, 255, 255);
}
.icon-boot .path2:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(250, 173, 183);
}
.icon-boot .path3:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(250, 218, 23);
}
.icon-boot .path4:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(189, 120, 0);
}
.icon-seek .path1:before {
  content: "\e918";
  color: rgb(255, 255, 255);
}
.icon-seek .path2:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(250, 218, 23);
}
.icon-seek .path3:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(189, 120, 0);
}
