.time-runner{
    .time-item{
        font-size: 2rem;
        background: #1A1B1C;
        border-radius: 0.3rem;
        text-align: center;
    }
    .line-height-item{
        line-height: 3rem;
    }
}